.box { 
    height: 48px; 
    width: 48px;     
    vertical-align: middle;
    text-align: center;
    background: white;
}

.box img {
    vertical-align: top;
}

.direction-box { 
    border: 1px solid;
    border-color: black;
}

.error {
    color: red;
    font-weight: bold;
}

#robot-control {
    float: left;
    margin-right: 20px;
}
